body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 10px;
 

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 5px;
}

/* REUSABLE STYLES */
.airbnb-container {
  padding: 50px 5px;
}

/*
 * Check out how the transition property and the :hover pseudo class work together
 * You get a nice smooth fade-in color switch when hovering over the element
 */
.airbnb-button {
  background-color: #ff5358;
  border-bottom: 2px solid #e00007;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 15px auto;
  text-align: center;
  transition: 0.4s ease-in-out;
  width: 250px;
}

@media (max-width: 550px) {
  .airbnb-button{
    
    width:60%;
    font-size: 0.6rem;

  }
  
}


.airbnb-button:hover {
  background-color: #e00007;
}

.airbnb-button-text {
  padding: 10px;
}

@media (min-width: 550px) {
  .airbnb-button-text {
    padding:5px;
  }
}

/*
 * To make the image darker, we have to think about the page in three dimensions
 * We haven't talked about this yet but the position property is very powerful
 * The idea is that we are going to position a dark mask above our image
 * We position this pseudo class before the image so that it sits on top
 * It's given a slightly transparent background using rgba colors
 */

.image-mask-darken {
  position: relative;
}

.image-mask-darken:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

/* HEADER */
.airbnb-header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

@media (max-width:600px){
  .airbnb-header{
      
   display:flex;
    height:auto;
    flex-flow: column wrap;

  }
}

.airbnb-logo-container {
  width: 100%;
}

.airbnb-nav {
  width: 350px;
}

@media (max-width:600px){
  .airbnb-nav{
    flex-flow: column wrap;
align-content: flex-start;
    width:100%;

  }
}

.airbnb-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
}

.airbnb-logo {
  padding: 10px 30px;
  width: 100px;
}

.airbnb-nav-element {
  cursor: pointer;
  padding: 10px 30px;
}

/*
 * Check out the use of this pseudo class to get my spacing just right
 * This works because in my HTML, there are two .airbnb-nav-element divs right next to each other
 */
.airbnb-nav-element:last-child {
  padding-left: 0;
}
sub{
  color: #e00007;
  font-size: 20px;
}
/* HERO */
.airbnb-main-photo {
  align-items: center;
  background-image: url(let9.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 550px;
  margin-right: 30px;
  width: 100%;
  marginn-left: -7px;
}

/*
 * To get the text to appear above the faded background, we need to position it absolutely
 * This pops it out above the background
 */
.airbnb-intro-content {
  color: white;
  position: absolute;
  text-align: center;
  width: 400px;
}

.airbnb-intro-title {
  font-size: 64px;
}

.airbnb-intro-subtitle {
  font-size: 16px;
}

/* Middle part of page */

/**
 * Notice I'm listing the flex-direction: column; BEFORE the media query
 * This is a mobile-first responsive style
 * You declare as many of the property:value pairs as you need
 * Then you reset the ones you need to modify per screen
 * In our case we want to flip between a single column on mobile, row of items on desktop
 * This is a super familiar pattern in CSS, very common and easy with flexbox
 */
.airbnb-middle {
  align-items: center;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.airbnb-middle-box {
  border: 1px solid #dbdbdb;
  width: 96%;
}

@media (min-width: 550px) {
  .airbnb-middle-box {
    width: 48%;
  }
}

.airbnb-middle-content-container {
  align-items: center;
  background-color: white;
  display: flex;
  height: 75px;
  padding: 10px;
  justify-content: space-around;
}



.airbnb-middle-icon {
  padding-right: 12px;
}

.airbnb-middle-titles {
  background-color: #edefed;
  font-size: 14px;
  padding: 12px 18px;
}

.airbnb-middle-content {
  line-height: 1.4;
  padding-right: 12px;
}

/* NEIGHBORHOODS */
.airbnb-neighborhood-container {
  padding: 50px 5px;
}



.airbnb-neighborhood-title {
  font-size: 32px;
  text-align: center;
}

.airbnb-neighborhood-subtitle {
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

.airbnb-three-neighborhood-container {
  display: flex;
}
@media (max-width: 550px) {
  .airbnb-three-neighborhood-container {
  flex-direction:column;
    align-items:center;
    width:100%;
  }}


.airbnb-indiv-neighborhood-container {
  margin: 1%;
  width: 100%;
}

/* Note that here we are doing nested flex boxes */
.airbnb-indiv-neighborhood-header {
  align-items: center;
  background-position: center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 300px; /* approximate estimate */
  justify-content: space-around;
  text-align: center;
}


.fitzroy  { background-image: url('let11.jpg'); }
.st-kilda { background-image: url('let10.jpg'); }
.cbd      { background-image: url('let6.jpg');}

/* Again, to achieve darkened image effect, we need to move interior content above the background image 
.airbnb-indiv-neighborhood-header-content {
  position: absolute;
}

.airbnb-indiv-neighborhood-title {
  font-size: 24px;
}

.airbnb-indiv-neighborhood-details {
  background-color: #efefef;
  border: 1px solid #dbdbdb;
  line-height: 1.4;
  margin: 0;
  min-height: 50px; /* makes the detail boxes look uniform */
  padding: 20px;
}

.airbnb-footer {
  align-items: center;
  background-color: #2B2D2E;
  color: white;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}

/* Styling horizontal rules requires you give it some height */
hr {
  border: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 40px;
  width: 95%;
}

  
/*Setting the navigation menu*/




/*Setting the navigation menu*/
nav ul{
  text-align: center;
  align-content: space-between;
}

.position{
  margin-top: -29px;
  font-size: 16px;
  margin-left:75%;
 
}
.barre a{
  margin-top: -40px;
  margin-left: 15px;
 
}

nav a{
  margin-left: 10%;
  padding-top: 1j0px;
}
nav ul a{
  position: relative;
  color: crimson;
  align-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 40px;
  paddinng-top: 30px;
  position: sticky;
  
}
nav a:hovner{
  
  background: hsl(0, 0%, 100%);
  width: 100px;
  color: whitesmoke;
}


header{
 
  width: 100%;
 

 marngin-top: -60px;
 height: 60px;
 top: 0%;


}

header a{
  text-decoration: none;
  transition-property: background;
  animation-duration: 3s;
  transition-duration: 5s;
  animation: h;
  animation-fill-mode: forwards;
  animation-name: concernant;
  text-align: center;
  

}


header a:hover{
  color: rgb(58, 16, 16);
}
/*Mobile Menu*/
.close, .open{
  display: none;
}

.togle{
  display: none;
}

header nav.active{
  right: 0;
} 
 
.carre button{
  margin-top: 20px;
}   


/* ghghg */
@media screen and (min-width:220px) and (max-width:1100px){

      header{
        width: 100%;
         margimn-top: -60px;
         height: 50px;
         top: 0%;
      }

  
 
  
      .close{
          font-size: 30px;
          display: block;
      }
  
   
  
  

  
      header nav ul{
          display: block;
      }
  
      #phone{
          font-size: 30px;
          cursor: pointer;
          transition: all .6s;
       
          display: block;
         
          color: crimson;   
      }
  
      #close{
        
          text-align: center;
      }
  
      .bar{
          text-align: center;
          margin-left: -8%;
          
          
      }
  
      .open{
          display: block;
          justify-content: center;
     
          opacity: 9;
          
      }
  
      #phone i{
          padding-top: 10px;
         margin-left: 86%;
         display: block;
        
      
      }
  
      .barre{
          position: fixed;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 0px;
         background-color:#2B2D2E;
          z-index: 1;
          padding-top: 130px;
          overflow-x: hidden;
          transition: all .5s; 
          text-align: center;
          
      }
  
     
     
  
  
     
  
      .header p{
        
        margin-bottom: -20px;
          float: left;
          margin-top: -15px;
          padding-right: 10px;
          padding-top: 20px;
          margin-left: 10%;
          font-size: 25px;
          font-family: GillSans,Gill Sans MT,Calibri,sans-serif;
      }
  
      .header{
        
          margin-top: 10px;
         
      }
  
      .barre a{
          padding: 35px;
          text-decoration: none;
          font-size: 20px;
          color: rgb(255, 175, 175);
          display: block;
         justify-content: center;
          display: block;
          align-items: center;
          margin-left: -40%;
          margin: -24px;
      }

      .position{
        text-align: center;
        margin-left: -14%;
        color: crimson;
      }
  
     
      
  
  }
  
  
       
  .barre .close{
      position: absolute;
      top: 4px;
      right: 25px;
      font-size: 36px;
      margin-left: 32px;
      
  }
  
    
  
